.task-desc {
    overflow-wrap: break-word; 
    font-size: 1.75rem;
}

img {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%; 
}

/*.flex-column {
    max-width: 360px;
    margin: 10px;
}
*/

